<div id="<%= dom_id car %>">
  <p>
    <strong>Placa:</strong>
    <%= car.placa %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= car.marca %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= car.modelo %>
  </p>

</div>
